{# templates/user/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    {% extends 'base.html.twig' %}


      <div id="main-content">
            <div class="container-fluid">

                <div class="block-header py-lg-4 py-3">
                    <div class="row g-3">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="m-0 fs-5"><a href="javascript:void(0);" class="btn btn-sm btn-link ps-0 btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Ajouter Une Promotion</h2>
                          
                        </div>
                     
                    </div>
                </div>
              
                <div class="card">
                    <div class="card-body">
                        <div class="row g-3">

                        {{form_start(form, {
                            'attr' :{
                                'novalidate' : 'novalidate' , 
                                'style':' margin-left: 277px;'
                            }   
                        })}}

                    
                                        
                            <div class="col-md-4 col-sm-12">
                            {{form_label(form.id,'id ')}}
                            {{form_widget(form.id,{
                            'attr' :{
                                'class' : 'form-control'
                            },
                            }
                            )}}
                             {{form_errors(form.id)}}   
                            </div>
                            <div class="col-md-4 col-sm-12">
                                 {{form_label(form.start_date,'start_date ')}}
                            {{form_widget(form.start_date,{
                            'attr' :{
                                'class' : 'form-control' , 
                            }
                            })}}
                           
                            </div>
                            <div class="col-md-4 col-sm-12">
                              {{form_label(form.pourcentage,'pourcentage ')}}
                            {{form_widget(form.pourcentage,{
                            'attr' :{
                                'class' : 'form-control','placeholder':"Décrivez votre produit en bref"
                            }
                            })
                            }}
                            {{form_errors(form.pourcentage)}}
                            
                            </div>
                            <div class="col-md-4 col-sm-12">
                                 {{form_label(form.id_categ,'id categorie ')}}
                            {{form_widget(form.id_categ,{
                            'attr' :{
                                'class' : 'form-control' , 
                            }
                            })}}
                            </div>
                             <div class="col-md-4 col-sm-12">
                                 {{form_label(form.produit_id,'id produit')}}
                            {{form_widget(form.produit_id,{
                            'attr' :{
                                'class' : 'form-control' , 
                            }
                            })}}
                            </div>
                           
                            
                            <div class="col-md-4 col-sm-12">
                                    {{form_label(form.end_date,'end_date ')}}
                            {{form_widget(form.end_date,{
                            'attr' :{
                                'class' : 'form-control' 
                            }
                            })}}
                            </div>
                            
                       
                        </div>

                        {{form_widget(form.save,{
                            'attr' :{
                                'class' : 'btn btn-primary' , 
                                'style':'width: 214px;
    margin-left: 537px;'
                            }
                            })}}
                        
                    </div>
                </div>

            </div>
        </div>
        {{form_end(form)}}



       {%  block content %}
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
